@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Mayfaire International Official website
* @Author     Tachimoma <hello@xuedesign.tw>
* @copyright  2020 xuedesign studio
* @version    v1.0 - 202011
*
**/

@media (max-width:1400px) {
%content_block{
    width: 90%}
%content_flex{
    width: 90%}
#main-nav li{ margin: 0 30px}

}

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#box_lang,
#main-nav{ display: none}


}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/

 
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
footer{ display: block}
footer h3,
footer p{ padding-bottom: 15px;}     
}
    
/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
footer p{ line-height: 2.1rem;}

}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/

    
}
