@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Mayfaire International Official website
* @Author     Tachimoma <hello@xuedesign.tw>
* @copyright  2020 xuedesign studio
* @version    v1.0 - 202011
*
**/

@media (max-width:1400px) {
#hdr-main{ 
    width: 90%}    
%content_block{
    width: 90%}
%content_flex{
    width: 90%}
#main-nav li{ margin: 0 30px}

}

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#box_lang,
#main-nav{ display: none}
#hdr-main{
    justify-content: space-between}
.btn_mobilenav{
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    background: linear-gradient(180deg, #ad9474 0%, #422c1ccc 100%);
    color: rgba(231, 192, 165, 0.8);
    position: absolute;
    top: 33px;
    right: 5%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.btn_mobilenav::before, 
.btn_mobilenav::after{
    content: " ";
    display: block;
    height: 30px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 25px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)}
.btn_mobilenav::before{top: 5px;}
.btn_mobilenav::after{top: 15px;}

}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/

 
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
footer{ display: block}
footer h3,
footer p{ padding-bottom: 15px;}     
}
    
/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
header{ height:95px}
h1 a{
    width: 180px;
    height: 37px;
    background-size: cover}
footer p{ line-height: 2.1rem}
.btn_mobilenav,
.lightbox-close{
    width: 40px;
    height: 40px;
    border-radius: 8px}
.lightbox-close::before, 
.lightbox-close::after{
    left: 19px;
    top: 5px
}
.btn_mobilenav::before, 
.btn_mobilenav::after{
    height: 20px;
    left: 20px
}
.lightbox-target .content {
    height: 75%;
    margin: 15% auto;
}
.lightbox-target .content li{
    font-size:3rem;
    line-height: 2rem
  }
  
  .lightbox-target .content ul{
    padding: 2% 0;
  }
  
  .lightbox-target .content li li{
    display: inline-block;
    font-size: 2rem;
    margin: 15px 0;
  }

}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/

    
}
