meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="梅斐國際有限公司,成立於2013年，為一家兩岸三地的國際貿易公司。在大陸有上達百家的衛星工廠,提供ODM、OEM的服務，從設計、開發、打樣、生產等一條龍服務。旗下品牌包括：梅斐商業燈光設計，天光照明，樂飲酒器，樂居不銹鋼生活精品，FERROLUCE 義大利進口陶瓷燈飾。")
meta(name="keywords" content="梅斐國際, 傢俱, 燈飾, 生活精品, 燈光設計, 照明設計, 進口陶瓷燈飾")
meta(name="Author" content="Mayfaire International Co., Ltd.")
= '\n'
meta(property="og:title" content="質感家居生活，梅斐為你實現")
meta(property="og:type" content="website")
meta(property="og:site_name" content="梅斐國際有限公司")
meta(property="og:url" content="https://www.mayfaire.com.tw/")
meta(property="og:image" content="https://www.mayfaire.com.tw/images/fbshare.jpg")
meta(property="og:description" content="梅斐國際有限公司,成立於2013年，為一家兩岸三地的國際貿易公司。在大陸有上達百家的衛星工廠,提供ODM、OEM的服務，從設計、開發、打樣、生產等一條龍服務。旗下品牌包括：梅斐商業燈光設計，天光照明，樂飲酒器，樂居不銹鋼生活精品，FERROLUCE 義大利進口陶瓷燈飾。")
= '\n'
link(rel="shortcut icon" href="images/favicon.svg")
link(rel="icon" href="images/favicon.svg")
link(rel="apple-touch-icon" href="images/favicon.svg")