<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.xuedesign.tw/images/favicon.ico"/>
    <title>提案A｜梅斐國際有限公司</title>
    <style>
        html,
        body{
            margin: 0;
            padding:0;}
        image{border:0}
        #wrap{
            display: block;
            width: 100%}
        #wrap img{
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0}
    </style>
</head>


<body>
    <a href="index-B.html">
    <div id="wrap">
        <img src="images/pic_01-01.png" alt="*">
        <img src="images/pic_01-02.png" alt="*">
        <img src="images/pic_01-03.png" alt="*">
        <img src="images/pic_01-04.png" alt="*">
    </div>
    </a>    
</body>
</html>