@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Mayfaire International Official website
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2021 xuedesign studio
* @version    v2021-11
*
**/

/*
=====================================
引入外部文件
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400;700&display=swap");
@font-face {
  font-family: SweiBowLegCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-bow-leg@2.129/WebFont/CJK%20TC/SweiBowLegCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-bow-leg@2.129/WebFont/CJK%20TC/SweiBowLegCJKtc-Regular.woff) format("woff")}


/*
=====================================s
通用設定
=====================================
*/
html{ 
  font-size:62.5%; 
  scroll-behavior: smooth}
body{
  margin: 0;
	padding:0;
  background: linear-gradient(180deg, rgb(220, 214, 210) 15%, rgba(220, 214, 210, 0));
  background-attachment: fixed;
  font-family:"Noto Sans TC", "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1rem; /* 1rem=10px */
  font-weight: 400;
  color:#333333}
form{ margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #7e5941; color: #D8D9D4}
::-moz-selection { background: #7e5941; color: #D8D9D4}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*
=====================================
變數
=====================================
*/
%box_default{
  display: block;
  width: 100%;
}

%content_block{
  display: block;
  width: 80%;
  margin: 0 auto
}

%content_flex{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto
}

$nav-link: #2E3234;
$nav-hover: #f50;

/*
=====================================
網頁主結構
=====================================
*/
#wrap{
  @extend %box_default;
  min-height: calc(100vh - 85px);/*footer高度+最頂端5px裝飾線*/
}

header{
  @extend %box_default;
  position: fixed;
  height: 106px;
  border-top: 5px solid #7D6D58;
  background: #dcd6d2;
}

#hdr-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 28px
}

#container{
  @extend %content_block;
  padding-bottom: 50px
}

footer{
  @extend %content_flex;
  justify-content:space-between;
  min-height: 80px;
  border-top: 1px solid #B8B2AC;
  padding: 20px 15px 0;
}


/*
=====================================
頁首
=====================================
*/
h1 a{
  display: block;
  width: 300px;
  height: 51px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden
}

.hvr-grow {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/*主選單*/
#main-nav{
  display: block;
  width: 65%;
  text-align: right;
}
#main-nav ul{
  width: 100%;
  vertical-align: middle;
}
#main-nav li{
  display: inline-block;
  margin: 0 40px;
  font-size: 1.8rem;
  line-height: 4rem;
}
#main-nav li:nth-child(3){
  position: relative;
}
#main-nav li a{
  color:$nav-link;
  text-decoration: none
}
#main-nav ul ul{
  display: none;
}
#main-nav li:nth-child(3):hover ul{
  display: block;
  position: absolute;
  text-align: left;
  top: 42px;
  left: -30px;
  width: 160px;
  background: rgba(126, 89, 65, 0.5);
  border-radius: 10px;
  padding: 10px 0;
}
#main-nav ul li li{
  width:80%;
  margin: 0 20px 0 15px;
  padding: 0 20px;
  border-bottom: 1px dashed #fff;
}
#main-nav ul li li:nth-child(3){
  border-bottom: none
}
#main-nav ul li li a{
  color: #fff
}
#main-nav ul li li a:hover{
  color:$nav-link;
}
.nowin{
  border-bottom: 3px solid #694228;
}

/*網站語系*/
#box_lang{
  display: inline-block;
  /* width: 15%; */
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}
#box_lang li{
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding: 0 5px;
}
#box_lang li a{
  color: $nav-link;
  text-decoration: none;
}
#box_lang li.nowlang a{
  background: #7e5941;
  color: #e1e1e1;
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 30px;
}
#box_lang li:nth-child(2)::after{
  content: '|';
  font-size: 1.8rem;
  color: #2E3234;
  padding-left: 13px;
}


/*
=====================================
頁尾結構
=====================================
*/
footer h3{
  font-size: 2rem;
  color:#929699;
  letter-spacing: 1px;
}
footer p{
  font-size: 1.5rem;
  color:#929699
}

/*
=====================================
按鈕設定
=====================================
*/
/*返回頂端*/
#toTop{
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../images/ui.totop.png) no-repeat left top}
#toTopHover{
  background:url(../images/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0)}
#toTop:active, 
#toTop:focus {
  outline:none}

.mybtn,
.mybtn:visited{
    display: block;
    padding: 10px 5px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(180deg, #37D0B4 0%, rgba(111, 135, 235, 0.8) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: .8}
.mybtn:hover{
    opacity: 1;
    text-decoration: none;
    transition-duration: .5s}
.btn-l{ 
    width: 173px;
    padding: 15px 10px}
.btn-m{ 
    width: 120px;
    padding: 15px 10px}

/*
=====================================
等待載入動畫
=====================================
*/
#loading{
    display:block;
	max-width:100vw;
	height:100vh;
    background:#6F87EB}
.spinner{
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: 999;
    margin: 0 -107px;
    width: 207px;
    height: 107px;
    text-align: center}
.spinner p{
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    letter-spacing: 1px}
@keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
@-webkit-keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
.ld.ld-bounce {
  -webkit-animation: ld-bounce 1s infinite;
  animation: ld-bounce 1s infinite;
}

/*
=====================================
Animate
=====================================
*/


/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #c7bdb7;
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: #c7bdb7}
::-webkit-scrollbar-track {
  background: #35251a;
  border: 0px none #fff;
  border-radius: 0}

/*
=====================================
overlay menu
=====================================
*/
#box_mobilenav{
  display: none}

/*選單樣式*/
.lightbox-target{
  position: fixed;
  top: -150%;
  width: 100%;
  background: linear-gradient(180deg, rgba(143, 94, 59, 1) 0%, rgba(66, 44, 28, 1) 100%);
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

.lightbox-target .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  width: 90%;
  /* height: 90%; */
  margin: 15% auto;
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.lightbox-target:target{
  opacity: 1;
  top: 0;
  bottom: 0
}

.lightbox-target:target .content, 
.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target .content ul{
  margin: 4% 0;
}

.lightbox-target .content li{
  display: block;
  min-height:80px;
  font-family: SweiBowLegCJKtc-Regular;
  font-size: 3.5rem;
  line-height: 3rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2% 0
}

.lightbox-target .content li li{
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 10px 0 0;
}

.lightbox-target .content li li::after{
  content: "∣";
  color: #ebc18b;
  padding: 0 8px;
}

.lightbox-target .content .last-nav:after{
  content: "";
}

.lightbox-target .content a{
  color: #f0d6b5;
  text-decoration: none;
}

.lightbox-target .content a:hover{}
.lightbox-target .content a:visited{
  color: #f0d6b5;
  text-decoration: none;
}

/*選單關閉按鈕*/
.lightbox-close{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ebc18b 0%, rgb(187, 147, 119) 100%);
  color: rgba(66, 44, 28, 0.8);
  position: absolute;
  top: 35px;
  right: 5%;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.lightbox-close::before, 
.lightbox-close::after{
  content: " ";
  display: block;
  height: 30px;
  width: 1px;
  background: #fff;
  position: absolute;
  left: 26px;
  top: 10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lightbox-close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  
/*
=====================================s
頁面設定+RWD
=====================================
*/
@import 'xuePages';
@import 'xueRwd';
